
#headContainer {
	background-color: #ffffff;
	overflow: auto;
	clear: both;
}

header {
	float: left;
	color: white;
	background-color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: bold;
	font-size: 40px;
	padding: 30px;
	margin-left: 20px;
}

nav {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	word-spacing: 10px;
	margin-top: 30px;
	margin-right: 60px;
	float: right;
}

h {
	font-family: ;
}

#mainContainer {
	overflow: auto;
	clear: both;
	background-image: url('../images/concrete_seamless.png');
	border-top: 2px solid #dddddd;
	width: 100%;

}

#mainContent {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;;
	background-color: #ffffff;
	float: left;
	padding: 20px;
	margin-left: 20px;
	margin-top: 30px;
	margin-bottom: 20px;
	width: 650px;
	height: 150px;
}


#sidebarContainer {
	background: #ffffff;
	width: 270px;
	margin: 30px;
	color: #4aaaa5;
	float: left;
}

/*This is the footer style guide */
footer {
	clear: both;
    border-top: 5px solid #4aaaa5;
	background-color: grey;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: white;
    text-align: center;
    padding: 20px;

}